#book{
    height: 550px;
}

#book-img{
    border-radius: 10px;
    height: 80%;
}

.mainbody{
background-color: var(--text-color);;
}

#search-box{
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  font-family: Calibri Light;
  font-weight: 500;
}

.cancel{
  color:var(--text-color);
  font-family: var(--font-family-search);
  font-weight: 500;
  text-transform: uppercase;
}

#previous{
border: none;
  opacity: 0;
  background-color: var(--background-color);
}



.searchbook{
  margin-top: 10px;
}

.title{
  font-family: var(--font-family-category);
  color:blue;
  font-weight: 500;
  text-transform: uppercase;
}

#book-title{
  font-weight: bold;
  font-family: var(--font-family-category);
  text-overflow: clip;
  text-transform: uppercase;
}

#book-author{
  text-overflow: clip;
}

#search-box::placeholder{
  color: #9691ef;
  font-weight: bold;
}