<div class="container">
    <div class="row no-gutters">
        <div class="float-left">
            <figure class="figure" routerLink="/home">
                <img src="../assets/drawable-hdpi/ic_left_arrow.png" class="figure-img img-fluid rounded" alt="Back">
            </figure>
        </div>


        <div class="float-left">
            <figure class="figure" routerLink="/home">
                <img src="../assets/drawable-hdpi/ic_search.png" class="figure-img img-fluid rounded" alt="Search">
            </figure>
        </div>
        <div class="float-left">
            <input [(ngModel)]='searchValue' class="form-control mr-sm-2" type="text" placeholder="Search" #searchBox
                id="search-box" aria-label="Search" (input)="search(searchBox.value)" />
        </div>
        <div (click)="clear()" *ngIf="searchValue != ''" class="float-right">
            <figure class="figure">
                <img src="../assets/drawable-hdpi/ic_close.png" class="figure-img img-fluid rounded" alt="Search">
            </figure>
        </div>
        <div *ngIf="searchValue != ''" (click)="clear()" class="cancel float-right my-2">{{cancel}}
        </div>
    </div>
</div>

<div class="mainbody">
    <div class="container">
        <div class="container" (scroll)="scrollHandler($event)">
            <div class="row">
                <div class="col title">
                    {{bookCategory}}
                </div>
            </div>
            <div *ngIf='booksDisplay.length >0' class="row">
                <div class="col-sm-4" id="book" *ngFor="let b of booksDisplay" (click)="openBook(b)">
                    <div style="height: 100%;">
                       
                            <div  class="w-100 h-80" id='book-img'
                                [ngStyle]="{ 'background-image': 'url(' + b.formats['image/jpeg']+ ')', 'background-repeat': 'no-repeat','background-size':'cover'}">
                            </div>
                        
                            <div  class="booktitle" class="w-100 h-10 my-1" id='book-title'>{{b.title}}
                            </div>
                        
                            <div class="w-100 h-10" *ngIf="b.authors.length > 0"
                                id='book-author'>{{b.authors[0].name}}</div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>