
#title{
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: 72px    ;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-color);
    background-color:var(--background-color);
    font-family: var(--font-family-title);
}  

.item1{
    font-family: var(--font-family-category);
    color:var(--text-color);
    background-color: #4e4bcb;
}

.arrow{
    float: right;
    height: 100%;
}

.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--text-color);
    margin: 10px 10px;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
}

